@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

/* Override Area */
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
    font-size: 16px;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont,
    system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif !important;
    word-break: keep-all;
}

button, input, textarea {
    font-family: inherit;
}

h1, h2, h3, h4, p {
    margin: 0px;
    padding: 0px;
    font-size: 1rem;
    display: inline-block;
}

a, a:visited {
    color: inherit;
}

input, label, textarea {
    display: block;
}

input, button {
    /* outline: none; */
    margin: 0;
    padding: 0;
    border-width: 0;
    border-style: solid;
}

input[type="file"] {
    display: none;
}

textarea {
    height: 10rem;
    resize: none;
}

/* Template Area */
header {
    z-index: 10;
    position: fixed;
    left: 0px; top: 0px;
    width: 100%; height: 3.4rem;
    box-sizing: border-box;
    background-color: #23272A;
    color: white;
    text-align: center;
    line-height: 3.4rem;
}

footer {
    z-index: 10;
    position: fixed;
    left: 0px; bottom: 0px;
    width: 100%; height: 2.5rem;
    box-sizing: border-box;
    background-color: #23272A;
    color: white;
    text-align: center;
    line-height: 2.5rem;
}

footer > p {
    font-size: 0.8rem
}

header, footer, .content {
    padding: 0 1.75rem;
}


.content-margin-left {
    margin-left: 1.75rem;
}

.content-margin-right {
    margin-right: 1.75rem;
}

h2 {
    display: block;
    text-align: center;
    line-height: 4rem;
    font-size: 1.75rem;
}

form > label {
    font-weight: 400;
    line-height: 1.5rem;
}

.content {
    float: left;
    width: 100%;
    min-height: 100vh;
    padding-top: 3.4rem;
    padding-bottom: 3rem;
    overflow: hidden;
    box-sizing: border-box;
    background-color: #2C2F33;
    color: snow;
}

input:not([type="submit"]), textarea {
    width: 100%;
    box-sizing: border-box;
    /* line-height: 2rem; */
    padding: 0.5rem;
    background-color: #1b1e23;
    border-radius: 0.25rem;
    outline: none;
    border-width: 1px;
    border-color: dimgrey;
    color: snow;
    caret-color: snow;
}

textarea {
    line-height: 1rem;
}

.custom-button {
    width: 100%;
    box-sizing: border-box;
    line-height: 2rem;
    padding: 0.5rem;
    background-color: transparent;
    border-radius: 0.25rem;
    outline: none;
    border-width: 1px;
    border-color: snow;
    color: snow;
    font-size: 0.9rem;
    font-weight: 600;
}

.custom-button:hover:enabled {
    opacity: 75%;
    cursor: pointer;
}

.custom-button:focus-visible {
    opacity: 75%;
}

.custom-button:disabled {
    opacity: 50%;
}

.file-upload-label {
    width: 100%;
    box-sizing: border-box;
    padding: 0.5rem;
    background-color: #1b1e23;
    border-radius: 0.25rem;
    outline: none;
    border-width: 2px;
    border-style: dashed;
    border-color: dimgrey;
    color: snow;
    caret-color: snow;
    text-align: center;
    font-weight: 300;
    font-size: 0.8rem;
}

.file-upload-label:hover {
    opacity: 75%;
    cursor: pointer;
}

.file-upload-label:focus-visible {
    opacity: 75%;
}

/* Macro Area */
.default-hide {
    display: none;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.text-light-white {
    color: #fbfbfb;
}

.font-light {
    font-weight: 300;
}

.mt-xs {
    margin-top: 0.3rem;
}

.mb-xs {
    margin-bottom: 0.3rem;
}

.mt-sm {
    margin-top: 0.5rem;
}

.mb-sm {
    margin-bottom: 0.5rem;
}

.mt-mid {
    margin-top: 0.7rem;
}

.mb-mid {
    margin-bottom: 0.7rem;
}

.mt-lg {
    margin-top: 1rem;
}

.mb-lg {
    margin-bottom: 1rem;
}

.mt-lgp {
    margin-top: 1.5rem;
}

.mb-lgp {
    margin-bottom: 1.5rem;
}

.mt-xl {
    margin-top: 2rem;
}

.mb-xl {
    margin-bottom: 2rem;
}

.ok-box, .error-box, .info-box {
    border-radius: 0.25rem;
    outline: none;
    border-width: 1px;
    padding: 1.25rem;
    font-weight: 600;
}

.ok-box {
    background-color: springgreen;
    color: darkgreen;
}

.error-box {
    background-color: lightcoral;
    color: darkred;
}

.info-box {
    background-color: cornflowerblue;
    color: darkblue;
}

.clickable {}

.clickable:hover {
    opacity: 75%;
    cursor: pointer;
}

.clickable:focus-visible {
    opacity: 75%;
}

.bold {
    font-weight: 600;
}

.round-img {
    border-radius: 50%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0.3rem;
}
